.footer{
    width: 100%;
    height: 70px;
    background: #000;
    position: relative;

    position: absolute;
    bottom: 0;
    @include mediaMax(1024px){
        display: none;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__menu{
        color: $wh;
        
    }
    &__goup{
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        .icon{
            display: flex;
            align-content: center;
            justify-content: center;
            svg{
                fill: $wh;
                top: 25px;
                position: relative;
            }
        }
    }
    &__copy{
        display: flex;
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        p{
            color: $wh;
        }
    }
    &__socials{
        display: flex;
        margin-left: auto;
        li{
            display: inline-flex;
            margin-right: 20px;
            &:hover{
                svg{
                    fill: $primaryColor;
                }
            }
        }
        svg{
            width: 20px;
            height: 20px;
            fill: $wh;
        }
    }
}