

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    // height: 80px;
    transition: .5s;
    z-index: 31;
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex-direction: column;
    // box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background: #000;
    @include mediaMax(1024px){
        height: 60px;
    
    }
    &.active{

        @include mediaMin(1024px){

            .header__logo{
                a{
                    transition: .5s;
                    height: 40px;
                }
                a img{
                    transition: .5s;
                    top: -110px;
                    width: 117px;
                }
            }
        }
    }
    // &:hover{
    //     .header__logo{
    //         a{
    //             height: 75px;
    //             transition: .5s;
    //         }
    //         a img{
    //             top: -2px;
    //         }
    //     }

    // }
    // &:after{
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     height: 0.6px;
    //     box-shadow: 0 2px 5px 0 rgba(130,130,130,0.29);
    // }

    

    &__body{
        // transition: 1s ease-in;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 5px 0px;
        z-index: 32;
        background: #000;
        @include mediaMax(1024px){
            // height: 50px;
            position: relative;
        }
        .container{
            height: 100%;
            display: flex;
        }
    }
    &__burger{
        display: none;
        width: 30px;
        height: 26px;
        position: relative;
        top: 14px;
        z-index: 2;
        cursor: pointer;
        span{
            height: 3px;
            background: $wh;
            position: absolute;
            transition: 0.2s;
               
            &.one{
                width: 30px;
                top: 0;
            }
            &.two{
                width: 20px;
                margin: auto;
                top: 0;
                bottom: 0;
            }
            &.three{
                width: 30px;
                bottom: 0;
            }
        }
        @include mediaMax(1024px){
            display: flex;
        }
        &.active{
            .one{
                top:5px;
                transform: rotate(-45deg);
                width: 20px;

            }
            .two{
                width: 30px;
                left: 5px;
            }
            .three{
                width: 20px;
                transform: rotate(45deg);
                bottom: 5px;
            }
        }
    }
    &__logo{
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
        a{
            overflow: hidden;
            width: 220px;
            display: flex;
            justify-content: center;
            position: relative;
            height: 75px;
        }
        a img{
            position: absolute;
            top: -2px;
            left: 1px;
        
        }
        &:hover{
            a img{
                left: 0px;
                top: -84px;
            
            }
        }
        @include mediaMax(1024px){
            
            
            justify-content: center;
            position: absolute;
            left: 0px;
            right: 0px;
            width: 170px;
            margin: auto;
            a{
                width: 170px;  
            }
            a img{
                top: -154px;
                left: 0px;
                right: 0px;
                margin: 0px auto;


            }
            &:hover {
                a img{
                    top: -232px;
                }
                
            }
        }
        
    }
    &__nav{
        display: flex;
        position: absolute;
        left: 0px;
        right:0px;
        bottom: 0px;
        top: 0px;
        justify-content: center;
        transition: 0.2s;
        color: $wh;
        .header__main-list{
            span {
                padding: 0px 5px;
                &:first-of-type{
                    position: relative;
                    right: 10px;
                }
                svg {
                    fill : $gry;
                }
                &.flip-arrow{
                    @include mediaMax(1024px){
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        svg{
                            transition: 0.1s;
                            position: absolute;
                            left: 10px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
            }
            display: flex;
            
            align-items: center;
            
            
            
            @include mediaMax(1024px){
                flex-direction: column;
                width: 100%;
                //padding: 0 10px;
                // padding-top: 10px;
            }
            .header__main-list-item{
                transition: 1s;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
               &:hover > .header__drop-menu {
                    transition: 1s;
                    visibility: visible ;
                    opacity: 1; 
               }
               &:hover{
                
                .header__link{
                    background:  #202020 !important ;
                    color: $primaryColor !important ;
                   }
               
               }
               &:hover >.header__drop-list{
                   transition: .6s;
                   opacity: 1;
                   visibility: visible;
               }
                &:last-of-type{
                    a{
                        border-right: none;
                    }
                }
                
                @include mediaMax(1024px){
                    height: 40px;
                    margin: 0;
                    width: 100%;
                    position: relative;
                    
                    
                    
                }
                &:last-of-type{
                    margin-left: 0;
                }
                .header__link{
                    display: flex;
                    align-items: center;
                    padding: 8px 17px;
                    font-size: 21px;
                    font-weight: 700;
                    border-right: 1px solid #202020;
                    
                    &.active{
                        background:  #202020;
                        color: $primaryColor;
                    }
                    
                    @include mediaMax(1169px){
                        font-size: 18px;
                       
                    }
                    @include mediaMax(1024px){
                        line-height: 40px;
                        height: 40px;
                        // padding: 0 15px;
                        border-right: none ;
                        display: flex;
                        justify-content: flex-start;
                        width: 100%;
                     
                        &.active{
                            
                            // color: $primaryColor;
                            
                        }
                    }
                    
                
                }

                &.active{
                        transition: 0.2s;
                    @include mediaMax(1024px){
                        height: auto;
                        margin: 0;
                        width: 100%;
                        &>a{
                            background: $primaryColor;
                            color: $wh;
                            .flip-arrow{
                                svg{
                                    fill:$wh !important;
                                }
                            }
                        }
                    }
                    ul {
                        transition: 0.2s;
                        visibility: visible;
                        padding: 0;
                        top: unset;
                        font-size: 1px !important;
                        @include mediaMax(1024px){
                            background: #eee;
                            li{
                                padding-right: 30px;
                            }
                        }
                        
                    }

                    
                }
            }
            
        }
        @include mediaMax(1024px){
            position: fixed;
            width: 250px;
            height: 100vh;
            background: #000;
            left: -100%;
            top: 60px;
            margin: 0px;
            overflow: scroll;
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
            &.active{
                left: 0px;
            }
        }
    }
    &__drop-menu{
        position: absolute;
        top: 100%;
        opacity: 0;
        width: 100%;
        padding: 0px 15px;
        right: 0px;
        left: 0px;
        margin: auto;
        background: #000;
        visibility: hidden;
    }
    &__drop-list{
        display: flex;
        position: absolute;
        top: 100%;
        background: #000;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;

    @include mediaMax(1023px){
        padding-bottom: 50px;
    }

    }
    &__drop-list-item{
        background: #000;
        padding: 7px 20px;
        font-weight: 600;
        &:hover {
            background: #202020;
            color: $primaryColor;
        }
        @include mediaMax(1023px){
            padding: 8px 0px 8px 30px;
        }
     
    }
    
  &__corner{
    margin-left: auto;
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: row-reverse;
    span{
      display: flex;
    }
    @include mediaMax(1023px){
        position: absolute;
        right: 15px;
        top: 0px;
        bottom: 0px;
    }
    &Btn{
        display: inline-flex;
        width: 35px;
        height: 35px;
        background: #202020;
        // border-radius: 50%;
        margin-left: 7px;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        position: relative;
        svg{
            fill:$wh;
            width: 15px;
            height: 15px;
        }
        &.facebook{
            // background: $primaryColor;
            &:hover{
                background: $facebook
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.twitter{
            // background: $primaryColor;
            &:hover{
                background: $twitter
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.instagram{
            // background: $primaryColor;
            &:hover{
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.Whatsapp{
        //   background: $primaryColor;
            &:hover{
                background: $whatsapp
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.youtube{
            // background: $primaryColor;
            &:hover{
                background: $youtube
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.rss{
        //   background: $primaryColor;
            &:hover{
                background: #EE802F;
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.snapchat{
            // background: $primaryColor;
            &:hover{
                background: #f3f000;
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.notification{
            background: #202020;
            svg{
                // fill:  ;
            }
            &:hover{
                background: $primaryColor;
              
            }
            @include mediaMax(768px){
                display: none;
            }
        }
        &.search{
            background: #202020;
            // margin: 0;
            svg{
                fill: $primaryColor;
            }
            @include mediaMax(768px){
                svg{
                    fill: $wh;
                }
            }
            &:hover{
                background: $primaryColor;
                svg{
                    fill: $wh;
                }
            }
            span{
                display: flex;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                // background: $primaryColor;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                    display: none;
                &.active{
                    display: flex;
                }
                &.open{

                }
                &.close{


                }
            }

        }
    }

}
}
.toouch{
    @include mediaMax(1024px){
        display: none;
    }
}
.no-toouch{
    @include mediaMin(1024px){
        display: none;
        

        
    }
    
}
