.news-card{
    position: relative;
    margin-bottom: 15px;
    &:hover {
        // box-shadow: 0px 3px 3px 2px rgba(255,0,91,0.2);
        .news-card__link{
        // background: linear-gradient(180deg, rgba(20,20,20,.3) 59%, rgba(20,20,20,0.1) 41%);
        // background: radial-gradient(rgba(20,20,20,.3), transparent);
            }
            
        .news-card__img img{
            // transform: scale(1.05);
            background: radial-gradient(rgba(20,20,20,.3), transparent);
        }
       
    }
    &--over {

        &:hover {
            .news-card__img img{
               transform: scale(1.05);
            }
        }
    } 
    &--card{
        &:hover {
            .news-card__img img{
               opacity: 0.8;
            }
            .news-card__title{
                color: $primaryColor;
            }
            .news-card__caption{
                background: #eee;
            }
            .news-card__video{

                svg{
                    fill: $primaryColor;
                }
            }
        }
    }
    &__link{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &__img{
        position: relative;
        overflow: hidden;
        background: #000;  
            img{
                position: absolute;
                width: 100%;
                height: auto;
                min-height: 100%;
                top: 0;
                left: 0;
                transition: 0.5s;
                backface-visibility: hidden;
                // background-image: url('../img/tv.svg');
                // background-size: 50px;
                // background-position: 50%;
                // background-repeat: no-repeat;
            }
            &:after{
                left: 0;
                content: "";
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
                // background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(28%, transparent), color-stop(70%, rgba(0,0,0,0.52)), color-stop(100%, rgba(0,0,0,0.98)), color-stop(101%, #000));
                // background: linear-gradient(to bottom, transparent 0%, transparent 28%, rgba(0,0,0,0.52) 70%, rgba(0, 0, 0, 0.62) 100%, #000 101%);
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

                background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(28%, transparent), color-stop(70%, rgba(0,0,0,0.52)), color-stop(100%, rgba(0,0,0,0.62)), color-stop(101%, #000));
                background: linear-gradient(to bottom, transparent 0%, #00000021 28%, rgba(0, 0, 0, 0.68) 70%, rgb(0, 0, 0) 100%, #000 101%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
            }
        
    }
    &--over &__img{
        padding-top: 202px;
        // @include mediaMin(1024px){
        //     padding-top: 202px;
        // }
    }
    &--large &__img{
        padding-top: 420px;

            @include mediaMax(1023px){
                padding-top: 202px;
            }
    }
    &--large &__video{

        background: #000;
        svg{
            fill: $primaryColor;
        }
    }
    &--large{
        &:hover{
            box-shadow: none;
        }
    }
    &__category{

        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 3;
        font-weight: 600;
        width: 85px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        p{
            color: $primaryColor;
        }
        &:hover{
            background: $primaryColor;
            p{
                color: $wh;
            }
        }

    }

    // &--event &__img{
    //     padding-top: 65%;
    //     &:after{
    //         background: linear-gradient(to bottom, transparent 0%, transparent 28%, rgba(0,0,0,0.52) 70%, rgb(0, 0, 0) 100%, #000 101%);
    //     }
    // }
    &--card &__img{
        // padding-top: calc(250px - 123px);
        padding-top: 45%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:after{
            display: none;
        }
    }
    &__video{
        position: absolute;
        width: 30px;
        height: 18px;
        top: 13px;
        left: 10px;
        background: $wh;
        margin: auto;
        z-index: 2;
        pointer-events: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        // cursor: pointer;
        svg{
            width: 30px;
            height: 30px;
            fill: #000;
            z-index: 2;
            pointer-events: none;
           
        }
    }
    
    
    
    &__caption{
        position: absolute;
        bottom: 0;
        padding: 15px 20px;
        left: 0;
        right: 0;
        z-index: 1;
    }
    &--card &__caption{
        position: relative;
        display: flex;
        padding: 15px ;
        background: $wh;
    }
    &__trend{
        line-height: 79px;
        font-family: auto;
        margin-left: 15px;
        font-weight: 600;
        font-size: 66px;
        color: darkgray;
        display: flex;
        align-items: flex-end;

    }
    &__details{

        display: flex;
        flex-direction: column;
    }
    &__caption-row{

        span{
            margin-left: 5px;
        }

        .cat{
            color: $primaryColor;
            font-weight: 600;            
            display: inline-block;
            font-size: 12px;
            z-index: 5;
        }
        .or{

        }
        .date{
            font-size: 12px;
        }
    }
    &__title{
        line-height: 30px;
        margin-bottom: 10px;
        max-height: 58px;
        height: 58px;
        overflow: hidden;
        font-size: 16px;
    }
    &--over &__title{
        color: $wh;
    }
    &--over {
        .or{
            color: $wh
        }
        .date{
            color: $wh;
        }
    }
    &--large &__title{
        font-size: 22px;
        line-height: 45px;
        max-height: 86px;
        margin-bottom: 15px;
        height: auto;
        color: $wh;
        @include mediaMax(1023px){
            font-size: 18px;
            line-height: 30px;
            max-height: 57px;
            margin-bottom: 0px;
        }
    }
    &--card &__title{
        color: $bk;
        font-size: 14px;
    }
    &__down{
        display: flex;
        font-size: 12px;
        font-weight: 100;
    }
    &__author{
        color: $date;
        font-family: $titleFont;
        margin-left: 25px;
    }
    &--card &__author{
        color: #adadad;
    }
    &__date{
        color: $date;
        font-family: $titleFont;
        &:after{
            top: 3px;
        }
    }
    &--card &__date{
        color: #adadad;
    }
    &__target{
        display: flex;
        align-items: center;
        margin-top: 5px;
        .icon{
            margin-left: 10px;
            svg{
                width: 20px;
                height: 20px;
                fill: $primaryColor;
            }
        }
        span{
            color: $date;
        }
    }
    &__calendar{
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-right: 25px;
        .icon{
            margin-left: 10px;
            svg{
                width: 20px;
                height: 20px;
                fill: $primaryColor;
            }
        }
        span{
            color: $date;
        }
    }
    &__views{
        position: absolute;
        left: 5px;
        z-index: 1;
        display: flex;
        top: 5px;
        align-items: center;
        justify-content: center;
        background: $primaryColor;
        border-radius: 10px;
        padding: 0px 7px;
        font-weight: 600;
        .icon{
            margin-right: 5px;
            display: flex;
            svg{
                fill: $wh;
                width: 20px;
                height: 20px;
            }
        }
        p{
            color: $wh;
            font-size: 12px;
        }
    }
    &--card{
        //margin-top: 35px;
        //border:1px solid #eee;
        
        // height: 250px;
       
        overflow: hidden;
        @include mediaMax(639px){
            margin-top: 0;
        }
    }
    &--switch{
        display: flex;
    }
    &--switch &__img {

        width: 40%;
        padding-top: 25%
    }
    &--switch &__caption{
        width: 60%;
        padding: 15px;
    }
}
.dark-card{
    padding: 0px 5px;
    .news-card__caption{
        background: #000;
        color: $wh;

        h4{
            color: $wh;
        }
    }
    .news-card__img{
        padding-top: 30%;
    }
    .news-card__video{

        background: #000;
        svg{
            fill: $primaryColor;    
        }
    }
    &:hover{
        .news-card__caption{
            background: #000;
        }
    }
}
.section-theme{
    padding-bottom: 60px;
    .news-card__img{
        padding-top: 70%;

    }
    .news-card__caption{
        position: absolute;
        margin: 15px 15px 0px 15px;
        bottom:10px;
    }
    .news-card__details{
        flex-direction: column-reverse;
        .date{
            color: gray;
        }
    }
    &:hover{
        box-shadow: none;

        .news-card__caption{
            // box-shadow: 0px 3px 4px 4px rgba(255,0,91,0.2);
        }
    }
}
.size-B{
    .news-card__img{
        padding-top: 385px;
        
        @include mediaMax(1023px){
            padding-top: 202px;
        }
    }
}
.size-A{
    .news-card__img{
        padding-top: 518px;
        
        @include mediaMax(1023px){
            padding-top: 202px;
        }

        
    }
}