.search-full-section{
    position: absolute;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 33;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    display: none;
    .container{
        max-width: 1170px;
        // @include mediaMin(768px){
        //     padding: 0 30px;
        // }
    }
    &.active{
        display: flex;
    }
    @include mediaMax(1023px){
        top: 100%;
        height: calc(100vh - 50px);
        
    }
    &__box{
        padding: 0 25px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    &__search{
        direction: rtl;
        position: relative;
        input[type="text"],input[type="search"]{
            background: transparent;
            border:0;
            border-bottom: 2px solid $primaryColor;
            width: 100%;
            color: $wh;
            @include rem(20);
            height: 50px;
            line-height: 55px;
            border-radius: 0;
            padding: 0;
            &::placeholder{
                color: $wh;
            }
            &:focus{
                outline: none;
            }
        }
        button{
            position: absolute;
            top: 10px;
            left: 0px;
            display: block;
            width: 30px;
            height: 30px;
            background: transparent;
            border: none; 
        }
        span{
            display: block;
            width: 25px;
            height: 25px;
            cursor: pointer;
            svg{
                fill: $wh;
                width: 25px;
                height: 25px;
            }
        }
    }
    &__tags{
        margin-top: 100px;
        @include mediaMax(1023px){
            margin-top: 60px;
        }
        h4{
            color: $wh;
        }
        &Box{
            margin-top: 50px;
            @include mediaMax(1023px){
                margin-top: 30px;
            }
            max-width: 1000px;
            a{
                display: inline-block;
                background: #e0e5e8;
                height: 45px;
                font-size: 16px;
                margin-bottom: 15px;
                margin-left: 15px;
                border-radius: 3px;
                padding: 5px 10px;
                padding-top: 9px;
                transition: 0.2s;
                @include mediaMax(768px){
                    height: 30px;
                    font-size: 14px;
                    padding-top: 3px;
                }
                &:hover{
                    background: $primaryColor;
                    color: $wh;
                }
            }
        }
    }
}