.single-wrapper{
            min-width: 100%;
    &__img-holder{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        
        iframe{
            max-width: none !important;
            width: 100% !important;
            min-width: 0 !important;

        }
        img{
            min-width: 100%;
        }
        .brid{

            min-width: 100% !important;
            max-width: 100% !important;
            height: unset !important;
            @include mediaMax(500px){
                max-width: 100% !important;
                width: auto !important;
            }
            
        }
    }
    &__title{
        margin: 25px 0px;
        h1{
            line-height: 40px;
            // font-size: 1.2857142857rem;
            font-size: 25px;
            @include mediaMax(1024px){

                line-height: 35px;
                font-size: 18px;
            }   
        }
    }
    &__status{
        display: flex;
        align-items: center;
        .status-cell{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            color: $gry;
            font-size: 12px;
            &:nth-of-type(2){
                padding-right: 50px;
                flex-grow: 1;
                @include mediaMax(767px){
                    padding-right: 15px;
                }

            }
            &:first-of-type{
                padding-left: 5px;
            }
            &__icon{
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    fill: $gry;
                }
            }
            &__text{
                margin-right: 7px
            }
        }
    }

    &__content{

        display: flex;
        position: relative;
        @include mediaMax(481px){
            
            flex-direction: row-reverse;
         }
        
    }

    &__article{
        position: relative;
        font-family: $titleFont;
        line-height: 35px;
        color:$gry2 ;
        font-size: 16px;
        h4{
            margin: 20px 0;
        }
        img{
            margin: 15px auto;
            //margin-bottom: 0;
            width: 100% !important;
        }
        span{
            display: inline-block;
        }
        .facebook-embed,.twitter-embed,.instagram-embed{
            background: #f7f7f8;;
            // position: relative;
            // padding-top: 100%;
            // iframe{
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            //     bottom: 0;
            //     width: 100%;
            // }
        }
        iframe{
            // width: 100%;
            // margin-bottom: 15px;
            // height: 8% !important;
            // display: block;
        }
        span{
            font-family:$titleFont !important ;
        }
        .article-short-desc{
            // font-weight: bold;
            padding-bottom: 15px;
            // border-bottom: 1px solid #eee;
            margin: 20px 0;
        }
        .article-iframe{
            padding-top: 60%;
            position: relative;
            iframe{
                width: 100%;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        .article-iframe,.article-embed{
            margin: 15px 0;
            // position: relative;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            iframe{
                // width: 100%;
                // position: absolute;
                // height: 100%;
                // top: 0;
                // left: 0;
                max-width: 100%;
                border:0;
            }
            .twitter-tweet{
                
                max-width: 100% !important;
                @include mediaMax(520px){
                    width: 450px !important;
                }
                @include mediaMax(480px){
                    width: 400px!important;
                }
                @include mediaMax(420px){
                    width: 300px!important;
                }
            }
            
        }

        p{
            // margin: 30px 0px;
            font-size: 17px !important;
            // font-weight: bold;
            line-height: 40px !important;
            color: $bk;
            *{
                font-size: 17px !important;
                // font-weight: bold;
                line-height: 40px !important;
            }
            a{
                position: relative;
                padding-top: 50%;
                display: block;
                width: 100%;
                margin-top: 15px;
                iframe{
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    &__full-text{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
        height: 50%;
        background-image: linear-gradient(0, #fff,rgba(255,255,255,0.6));
        a{
            width: 170px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $primaryColor;
            border-radius: 3px;
            background: $primaryColor;
            color: #fff;
            &:hover{
                transition: .3s;
                background: #fff;
                color: $primaryColor;
            }
        }
    }
    &__tags{
        margin: 25px 0px ;
        display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
        a{
            transition: .4s;
            margin: 10px 15px;
            padding: 5px;
            color: #A2A8B1;
            font-size: 13px;
            background: #eee;
            padding: 5px 20px;
            &:hover{
                transition: .4s;
                text-decoration: underline;
                background: $primaryColor;
                color: white;
            }
            &:first-of-type{
                @include mediaMin(1023px){
                    margin: 10px 0px 10px 10px;
                }
            }
        }
        
    }
    &__nav{
        padding: 25px 0px;
        display: flex;
        width: 100%;

        a{
            width: 50%;
            position: relative;
            display: flex;
            align-items: center;

            h2{
                font-size: 15px;
                line-height: 25px;
                width: 90%;
                @include mediaMax(768px){
                    font-size: 12px;
                    text-align: center
                }
            }
            &:hover{

                svg{
                    fill: $primaryColor;
                }
            }
        }
    }
    &__nav-holder{
        display: flex;
        flex-direction: column;
        padding: 15px;
        @include mediaMax(768px){
            
           padding: 10px;
        }
        
    }
    &__prev{

    }
    &__next{

    }
    &__arrow{

        svg{
            height: 30px;
            width: 30px;
        }
    }
    &__smText{
        font-size: 12px;
        display: flex;
        align-items: center;
        padding: 5px 0px; 
        color: $primaryColor;
        font-weight: 600;
        @include mediaMax(768px){
            justify-content: center
        }
        
    }


    
    .related-section{
        margin-bottom: 50px;
    }
}
.aside-new-card-links{
    
    padding: 15px 0px;
    border-bottom: 1px solid #eee;
    position: relative;
        &:first-of-type{
            padding: 0px 0px 15px 0px;
                        }
        &:last-of-type{
            border: none;
        }
        &:hover{
            
            img{
                transition: .3s;
                transform: scale(1.05);
            }
        }
.aside-new-card{
display: flex;

    &__img-holder{
        overflow: hidden;
        max-height: 100px;
        max-width: 110px;
        min-width: 110px;
        min-height: 100px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            min-width: 100%;
            min-height: 100px;
            transition: .3s;
        }
    }
    &__details{
        margin-right: 10px;
        margin-top: 25px;

        .title{
            font-size: 13px;
            font-weight: 600;

        }
        .time{
            color: $gry;
            position: relative;
            padding-right: 15px;
            font-weight: 100;
            font-size: 12px;
            margin-top: 10px;
            &:before{

                position: absolute;
                right: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                content: "";
                display: block;
                background-color:$primaryColor ;
                border-radius: 50%;
                height: 8px;
                width: 8px;
            }
        }
    }
}
.category{
    color: $primaryColor;
    margin-bottom: 5px;
    border-bottom: 1px solid $primaryColor;
    display: inline-block;
    position: absolute;
    right: 120;
    top: 15px;
}
}



.covered{
    max-height: 185px;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
    @include mediaMax(481px){
        max-height: 300px;
    }
}
.mob-icons{
    position: fixed;
    bottom: -1px;
    width: 100%;
    transition: .2s;
    z-index: 10;

}
.social-box{  
    transition: .2s;     
    display: flex;
    flex-direction: column;
    min-width: 50px;
    position: relative;
    margin-top: 60px;
    @include mediaMax(1024px){
        flex-direction: row-reverse;
        height: 100%;
        margin: 0px;
    }
    
    a{
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mediaMax(1024px){
            height: 100%;
            width: calc(103% / 3);
            margin: 0 -1;
        }
       

        &:hover{
            transition: .3s;
            transform: scale(1.1);
            .icon{
                
                
                
            }
        }
    }
    .icon{
        
        background-color: #fff;
        border: 1px solid #dcdcdca3;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0px;
        border-radius: 50%;
        @include mediaMax(1024px){
            margin: 0px ;
            border: none;
            width: 100%;
            min-width: 100%;
            height: 100%;
            border-radius: 0px;
        }
        svg{
            height: 20px;
            width: 20px;
        }
    
        
    }
    .fb{
        fill: $wh;
        background: $facebook;
    }
    .twtr{
        fill: $wh ;
        background: $twitter;
    }
    .wts{
        fill:$wh;
        background: $whatsapp;
    }
    
}