extends shared/_layout.pug
block content
    .Media-header
        .container
            -for(let x = 0 ; x < 4 ; x ++)
                a(href="#").Media-header__cell
                    .Media-header__url
                        .icons
                            svg.Icon_icon_oCWor.Icon_small_10rPX.Icon_white_wEIJv(viewBox='0 0 24 24', preserveAspectRatio='xMidYMid meet', data-testid='external-link-square-alt-icon')
                                g(fill-rule='evenodd', clip-rule='evenodd')
                                    path(d='M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z')

                        .url
                            span So3ody Sports
                        
                    .Media-header__img-holder
                        img(src="img/team-logo.png", alt="")
                    

