-var icon = icon || {case:"default",addClass:""}
case icon.case
  //- MEDIA
  when "play"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-play")
  when "sound"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-sound")
  when "image"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-image")

  //- ARROWS
  when "chevron-right"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-chevron-right")
  when "chevron-left"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="img/icons.svg#icon-chevron-left")
  when "chevron-up"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="img/icons.svg#icon-chevron-up")
  when "chevron-down"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="img/icons.svg#icon-chevron-down")
  when "arrow-up"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="img/icons.svg#icon-arrow-up")
  when "arrow-down"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="img/icons.svg#icon-arrow-down")
  when "arrow-right"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="img/icons.svg#icon-arrow-right")
  when "arrow-left"
    svg(class="u-icon "+icon.addClass,)
      use(xlink:href="img/icons.svg#icon-arrow-left")

  //- GLOBAL
  when "allbumtag"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-allbumtag")
  when "home"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-home")
  when "user"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-user")
  when "phone"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-phone")
  when "pin"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-pin")
  when "envelope"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-envelope")
  when "date"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-date")
  when "search"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-search")
  when "share"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-share")
  when "folder"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-folder")
  when "user"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-user")
  when "upload"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-upload")
  when "download"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-download")
  when "link"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-link")
  when "trash"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-trash")
  when "close"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-close")
  when "calendar"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-calendar")
  when "calendar2"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-calendar2")
  when "check"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-check")
  when "crop"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-crop")
  when "minimize"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-minimize")
  when "maxmize"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-maxmize")
  when "plus"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-plus")
  when "quote"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-quote")
  when "quote-b"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-quote-b")
  when "more"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-more")
  when "left-arrow"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-left-arrow")
  when "flame"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-flame")
  when "sort"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-sort")
  when "eye"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-eye")
  when "info"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-info")
  when "fav"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-fav")
  when "album"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-album")
  when "zoom"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-zoom")
  when "marker"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-marker")


  //- STAR
  when "star"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-star")
  when "star-half"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-star-half")
  when "star-filled"
   svg(class="u-icon "+icon.addClass)
     use(xlink:href="img/icons.svg#icon-star-filled")

  //- SOCIALS
  when "facebook"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-facebook")
  when "twitter"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-twitter")
  when "Whatsapp"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-Whatsapp")
  when "googlePlus"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-googlePlus")
  when "youtube"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-youtube")
  when "Instagram"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-Instagram")
  when "rss"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-rss")
  when "dot"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-dot")
  when "video3"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-video3")
  when "albums2"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-albums2")
  when "player-in"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-player-in")
  when "player-out"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-player-out")
  when "correct"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-correct")
  when "wrong"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-wrong")
  when "change-player"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-change-player")
  when "goal"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-goal")
  when "goal3"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-goal3")
  when "goalKeeperCatchBall"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-goalKeeperCatchBall")
  when "redCard"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-redCard")
  when "yellowCard"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-yellowCard")
 
  when "whistle"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-whistle")
  when "stadium"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-stadium")
  when "change"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-change")
  when "corner"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-corner")
  when "penalty"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-penalty")
  when "offside"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-offside")
  when "injury"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-injury")
  when "cup"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-cup")
  when "crown"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-crown")
  when "news"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-news")
  when "videoCamera"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-videoCamera")
  when "leagueCup"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-leagueCup")
  when "infographic"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-infographic")
  when "gallery"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-gallery")
  when "worldcup2"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-worldcup2")
  when "stad-vert"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-stad-vert")
  when "view-all"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-all")
  when "view-videos"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-videos")
  when "view-news"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-news")
  when "view-news-news"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-news-news")
  when "chart"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-chart")
  when "view-chart"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-chart")
  when "view-infographic"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-infographic")
  when "view-whistle2"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-whistle2")
  when "view-monitor2"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-monitor2")
  when "view-stadium2"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-stadium2")
  when "view-youtube"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-youtube")
  when "view-fullscreen"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-view-fullscreen")
  when "clear"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-clear")
  when "snapchat"
    svg(class="u-icon "+icon.addClass)
      use(xlink:href="img/icons.svg#icon-snapchat")



-var icon = {}

