.container(id="app-box" data-src="section" section-name="عالمي" )
    .ads
        img(src="img/ad/768x90.png", alt="")
    .row
        .col-lg-4.col-md-6.col-sm-6.col-xs-12
            .ads.ads--square
                img(src="img/ad/300x250.png", alt="")
        -for(let i = 0 ; i < 14 ; i++)
            .col-lg-4.col-md-6.col-sm-6.col-xs-12
                -
                    var post = {
                        type:'news-card--card section-theme',
                        img:imgs[i],
                        text:titles[i],
                        theme:'card_over',
                        trend:"0",
                        section:'1'
                        
                    }

                include ../components/news-card